In [15]:
import pandas as pd
import numpy as np
data = pd.read_csv("./Processed Data/preprocessedNP.csv") # Base Dataset
data16m = pd.read_csv('./Processed Data/16mFullProcessed.csv') #16 Million Dataset
data16m.columns = ['useless','text', 'label']

In [17]:
data16m.head()

   useless                                               text  label
0   868865  Randomly inspired for a new graphic design the...      0
1  1102689  @fanf Thanks for the link to that excellent po...      0
2  1180662  @Ypsychs Their name is @BrokeCity and they're ...      0
3   295407  @summer_eyes I bought a pair while Andrew and ...      1
4  1210850                 @pboffer88 Thanks for the follow!       0

In [18]:
# Dropping useless column
data16m.drop(columns='useless',inplace=True)
data16m.head()

                                                text  label
0  Randomly inspired for a new graphic design the...      0
1  @fanf Thanks for the link to that excellent po...      0
2  @Ypsychs Their name is @BrokeCity and they're ...      0
3  @summer_eyes I bought a pair while Andrew and ...      1
4                 @pboffer88 Thanks for the follow!       0

In [19]:
data16m.head()

                                                text  label
0  Randomly inspired for a new graphic design the...      0
1  @fanf Thanks for the link to that excellent po...      0
2  @Ypsychs Their name is @BrokeCity and they're ...      0
3  @summer_eyes I bought a pair while Andrew and ...      1
4                 @pboffer88 Thanks for the follow!       0

In [20]:
# appending both datasets
data = data.append(data16m)

In [22]:
data.head()
data.columns = ['text','label','useless']

In [24]:
data.drop(columns='useless',inplace = True)

In [26]:
data

                                            text  label
0                              Thank you happy.1      0
1            That would be a great trick happy.3      0
2        unhappy  every time laughing my ass off      1
3                   have a blast okay. love you!      1
4                                    Enjoy happy      0
...                                          ...    ...
1599994                                      NaN      0
1599995                                      NaN      1
1599996                                      NaN      0
1599997                                      NaN      1
1599998                                      NaN      1

[1602302 rows x 2 columns]

In [27]:
import nltk
import re
nltk.download('stopwords')
stemmer = nltk.SnowballStemmer("english")
from nltk.corpus import stopwords
import string
stopword=set(stopwords.words('english'))

def clean(text):
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = [word for word in text.split(' ') if word not in stopword]
    text=" ".join(text)
    text = [stemmer.stem(word) for word in text.split(' ')]
    text=" ".join(text)
    return text
data["text"] = data["text"].apply(clean)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\himan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [28]:
data["label"] = data["label"].map({0: "No Stress", 1: "Stress"})
data = data[["text", "label"]]
print(data.head())

                            text      label
0                         thank   No Stress
1             would great trick   No Stress
2  unhappi  everi time laugh ass     Stress
3                blast okay love     Stress
4                    enjoy happi  No Stress

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

x = np.array(data["text"])
y = np.array(data["label"])

cv = CountVectorizer()
X = cv.fit_transform(x)
xtrain, xtest, ytrain, ytest = train_test_split(X, y,test_size=0.33,random_state=42)

In [30]:
from sklearn.naive_bayes import BernoulliNB
from sklearn import metrics
model = BernoulliNB()
model.fit(xtrain, ytrain)
# print("Accuracy of Logistic Regression model is:",
# metrics.accuracy_score(ytest, ytrain)*100)

BernoulliNB()

In [ ]:
user = input("Enter a Text: ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

In [ ]:
model.score(xtest,ytest)*100

In [ ]:
from sklearn.metrics import classification_report
z = model.predict(xtest)
print(classification_report(ytest, z))